@page "/"
@inject IGuestData GuestData

@if(guests is not null)
{
    <ul>
        @foreach(var guest in guests)
        {
            <li>@guest.FirstName @guest.LastName</li>
        }
    </ul>
}

@code{
    private List<GuestDto> guests;

    protected override async Task OnInitializedAsync()
    {
        guests = await GuestData.GetGuests();
    }
}